<app-header
  [fixed]="true"
  [navbarBrandFull]="{src: 'assets/img/brand/initlogo.png', width: 130, height: 25, alt: 'CoreUI Logo'}"
  [navbarBrandMinimized]="{src: 'assets/favicon.ico', width: 30, height: 30, alt: 'CoreUI Logo'}"
  [sidebarToggler]="'lg'"
  [asideMenuToggler]="'lg'">
  <ul class="nav navbar-nav ml-auto">
    <li class="nav-item dropdown" dropdown placement="bottom right">
      <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false" dropdownToggle (click)="false">
        <img src="assets/img/avatars/1.png" class="img-avatar" alt="admin@bootstrapmaster.com"/>
      </a>
      <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">
        <div class="dropdown-header text-center"><strong>Settings</strong></div>
        <a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>
        <div class="divider"></div>
        <a class="dropdown-item" href="#" (click)="logout()"><i class="fa fa-lock"></i> Logout</a>
      </div>
    </li>
  </ul>
</app-header>
<div class="app-body">
  <app-sidebar [fixed]="true" [display]="'lg'">
    <app-sidebar-nav [navItems]="navItems" [perfectScrollbar] [disabled]="sidebarMinimized"></app-sidebar-nav>
    <app-sidebar-minimizer></app-sidebar-minimizer>
  </app-sidebar>
  <!-- Main content -->
  <main class="main">
        <div class="container-fluid">
        <app-layout-note-new class="new-note" (newNote)="receiverNewNote($event)"></app-layout-note-new>
        <app-layout-note-list [notes]="notes" (idNoteDeletedList)="receiverInfoNoteDeletedFromList($event)"></app-layout-note-list>
    </div><!-- /.container-fluid -->
  </main>
</div>
<app-footer>
  <span class="ml-auto">Powered by <a href="https://www.linkedin.com/in/rafaelmotaoliveira/">Rafael Oliveira</a></span>
</app-footer>
